* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: #beeeef;
}
.canvas {
    --line:#222;
    --skin:#fca;
    --skin-dark:#eb9;
    --skin-light:#fdb;
    --shirt:#fff;
    color: var(--line);
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
}
.canvas div {
    position: absolute;
    box-sizing: border-box;
}
.face {
    top: 13%;
    left: 50%;
    width: 40%;
    height: 50%;
    background: var(--skin);
    border: 1vmin solid;
    border-radius: 0 20% 50% 70% / 50%;
    box-shadow: -0.125vmin 0.25vmin, inset -1.5vmin 0.5vmin var(--skin-light), 
    inset 3vmin 0.5vmin var(--skin-dark);
    transform: translate(-50%, 0);
}
.ear {
    width: 35%;
    height: 40%;
    background: var(--skin-dark);
    border-radius: 70% 70% 40% 90% / 50% 50% 100% 90%;
    border: 1vmin solid;
    border-right-color: var(--skin-dark);
    top: 34%;
    left: -25%;
    transform: rotate(-5deg);
    box-shadow: -0.25vmin -0.25vmin;
}
.ear::before {
    content:"";
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: 20%;
    left: 8%;
    border: 0.25vmin solid transparent;
    border-top: 1vmin solid;
    transform: rotate(15deg);
}
.ear::after {
    content: "";
    display: block;
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    border: 0.75vmin solid;
    border-right: 0.25vmin solid transparent;
    border-radius: 50%;
    top: 45%;
    left: 52%;
    box-shadow: -0.125vmin -0.25vmin;
}
.mouth {
    width: 50%;
    height: 20%;
    border-radius: 50%;
    border: 0.5vmin solid transparent;
    border-left: 1.5vmin solid transparent;
    border-bottom: 1vmin solid;
    transform: rotate(10deg);
    top: 60%;
    left: 35%;
}
.mouth::before {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 0.5vmin solid transparent;
    border-left: 1vmin solid;
    transform: rotate(25deg);
    top: 75%;
}