*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ul {
    display: flex;
}
ul li{
    list-style: none;
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: 10px;
    transition: all 2s;
}
ul:hover li {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
}
li:nth-child(1){
    transition-delay: 0;
}
li:nth-child(2){
    transition-delay: 0.3s;
}
li:nth-child(3){
    transition-delay: 0.6s;
}
li:nth-child(4){
    transition-delay: 0.9s;
}
li:nth-child(5){
    transition-delay: 1.2s;
}