#layer1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#layer1 .can-container{
    width: 240px;

}
#layer1 .can-container .can-img{
    width: 100%;
}
#layer1 .can-container .wrapper {
    position: absolute;
    height: 40%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;

}