body {
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 0;
}
.stack-area {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}
.left, .right {
    flex-basis: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.left h1 {
    font-size: 84px;
    width: 520px;
    font-family: poppins;
    font-weight: 700;
    line-height: 88px;

}
.left p {
    width: 520px;
    font-family: poppins;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
}
.left button {
    font-family: poppins;
    padding: 15px 30px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    border-radius: 8mm;
}
.right .card {
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    width: 350px;
    height: 350px;
    padding: 15px 30px;
    border-radius: 25px;
    margin-bottom: 2px;
}
.right .card .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right .card .card-content h2 {
    font-family: poppins;
    font-size: 24px;
}
.right .card .card-content p {
    font-family: poppins;
    width: 300px;
    font-size: 40px;
    font-weight: 700;
    bottom: 0;  
}
.right .card-one {
    background-color: #407AFF
}
.right .card-two {
    background-color: red
}
.right .card-three {
    background-color: purple
}
.right .card-four{
    background-color: pink
}